[Unit]
Description=Tinyproxy Service
After=network.target

[Service]
ExecStart=[tinyproxy_install_dir]/tinyproxy -c [tinyproxy_install_dir]/tinyproxy.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
