[Unit]
Description=Tinyproxy Service
After=network.target

[Service]
ExecStart=[tinyproxy_install_dir]/tinyproxy
Restart=always

[Install]
WantedBy=multi-user.target
