[Unit]
Description=Amy4Server Service
[Service]
ExecStart=/usr/local/amy4Server/amy4Server -config /usr/local/amy4Server/amy4Server.json
[Install]
WantedBy=multi-user.target